/ Default box
.box
  .box-header
    %h3.box-title= page_entries_info @accounts

    .box-tools.pull-right
      = paginate @accounts

      .btn-group.pull-right
        %a.btn.btn-sm.btn-success{href: new_account_path} Novo
        %button.btn.btn-sm.btn-success.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
          %span.caret
          %span.sr-only Toggle Dropdown
        %ul.dropdown-menu{:role => "menu"}
          %li
            %a{:href => "#"} Action
          %li.divider
          %li
            %a{:href => "#"} Action 2
  / /.box-header
  .box-body.no-padding
    %table.table
      %tbody
        %tr
          %th{class: "col-xs-1"} #
          %th= t("simple_form.labels.account.description")
          %th Progress
          %th{class: "col-xs-1"} Ações

        - @accounts.each do |account|
          %tr
            %td= account.id
            %td= account.description
            %td
              .progress.progress-xs
                .progress-bar.progress-bar-danger{:style => "width: 55%"}
            %td
              %a{href: edit_account_path(account), class: "badge bg-yellow", title: "Editar"}
                %i.fa.fa-pencil
              = link_to account_path(account), method: :delete, class: "badge bg-red", title: "Excluir" do
                %i.fa.fa-times
  / /.box-body
